Repository rancher/observability-e2e, pull requests merged in 2024-11, with the labels that each got.

#16 Added verify-changes github action
  .github/workflows/verify-changes.yaml
  README.md
  go.mod
  go.sum
Labels: enhancement

#18 Adding test for create prometheus rule.
  go.mod
  tests/e2e/monitoring_e2e_test.go
Labels: monitoring

#21 Automated Rancher Setup, Chart Installation, and E2E Testing Workflow
  .github/workflows/docker_run.yaml
  README.md
  tests/helper/charts/ranchermonitoring.go
Labels: enhancement, github action
