Repository rancher/observability-e2e, pull requests merged in 2025-05, with the labels that each got.

#61 added uninstall chart verification with deployments
  tests/backuprestore/installations_test.go
  tests/helper/charts/rancherbackuprestore.go
  tests/helper/yamls/encrptionConfigwithAsterisk.yaml
Labels: Test Case, backup-restore

#63 Added Observability prometheus federator chart upgrade
  tests/e2e/after_upgrade_test.go
  tests/e2e/before_upgrade_test.go
  tests/helper/charts/prometheusfederator.go
Labels: enhancement, new e2e automation

#66 backup-restore test run pipeline
  .github/workflows/backup-restore-e2e-trigger.yaml
  .github/workflows/backup-restore-e2e.yaml
Labels: enhancement, backup-restore

#68 added the terratest framework for the backup-restore migration scenario
  .github/workflows/backup-restore-e2e.yaml
  .github/workflows/docker_run.yaml
  .gitignore
  go.mod
  go.sum
  resources/rancher/clusters.go
  resources/terraform/config/backend.tf
  resources/terraform/config/main.tf
  resources/terraform/config/provider.tf
  resources/terraform/config/terraform.safe.auto.tfvars
  resources/terraform/config/variables.tf
  resources/terraform/modules/ec2/encryption-provider-config.tpl
  resources/terraform/modules/ec2/install_rke2.sh
  resources/terraform/modules/ec2/main.tf
  resources/terraform/modules/ec2/outputs.tf
  resources/terraform/modules/ec2/variables.tf
  resources/terraform/modules/s3/main.tf
  resources/terraform/modules/s3/outputs.tf
  resources/terraform/modules/s3/providers.tf
  resources/terraform/modules/s3/variables.tf
  resources/terraform/modules/vpc/main.tf
  resources/terraform/modules/vpc/output.tf
  resources/terraform/modules/vpc/variables.tf
  tests/backuprestore/functional/backup_restore_suite_test.go
  tests/backuprestore/functional/backup_test.go
  tests/backuprestore/functional/inplace_scenarios_test.go
  tests/backuprestore/functional/installations_test.go
  tests/backuprestore/migration/migration_suite_test.go
  tests/backuprestore/migration/migration_test.go
  tests/helper/charts/rancherbackuprestore.go
  tests/helper/terraform/terraformContext.go
  tests/helper/terraform/terraformOutputs.go
Labels: enhancement, backup-restore
