Repository rancher/observability-e2e, pull requests merged in 2025-01, with the labels that each got.

#38 Automate Observability E2E test execution with RKE2 Cluster
  .github/workflows/master-e2e.yaml
  .github/workflows/observability-e2e.yaml
Labels: enhancement

#39 adding test for creating clusteroutput and clusterflow to validate rancher-logging via syslog
  tests/e2e/installations_test.go
  tests/e2e/rancher_logging_e2e_test.go
  tests/helper/utils/utils.go
  tests/helper/yamls/clusterOutputandClusterFlow.yaml
  tests/helper/yamls/syslogResources.yaml
Labels: logging

#40 prometheus federator Level0 e2e test automation
  go.mod
  go.sum
  tests/e2e/monitoring_e2e_test.go
  tests/e2e/rancher_alerts_e2e_test.go
  tests/e2e/rancher_logging_e2e_test.go
  tests/e2e/rancher_promfed_e2e_test.go
  tests/helper/charts/charts.go
  tests/helper/utils/utils.go
  tests/helper/yamls/projectMonitoringChart.yaml
Labels: new e2e automation

#43 Refactoring rancher logging e2e test with go assertion.
  tests/e2e/rancher_logging_e2e_test.go
Labels: logging

#47 fix pipeline failure
  .github/workflows/docker_run.yaml
  .github/workflows/master-e2e.yaml
Labels: Fix
